---
import { Image } from "astro:assets";

const { item, liClass = "" } = Astro.props;

const liClassName = ["flex flex-col relative group/item max-h-[60vh]", liClass]
    .filter(Boolean)
    .join(" ");
const imgClassName = [
    "block h-auto w-full marquee-no-drag select-none",
    "group-hover/item:brightness-30 group-hover/item:grayscale-100",
    "transition-all duration-300",
].join(" ");
const titleClassName = [
    "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full px-2 mx-auto",
    "opacity-0 group-hover/item:opacity-100 transition-opacity duration-300",
    "text-[12px] leading-[1.2] text-pretty overflow-hidden text-ellipsis select-none text-center",
].join(" ");
---

<li class={liClassName} style={`width: ${item.width}%`}>
    <div class="relative h-full w-full">
        <Image
            class={imgClassName}
            src={item.img}
            alt={item.alt}
            format="webp"
            quality={80}
            widths={[360, 540, 720, 960, 1200]}
            sizes="(max-width: 640px) 80vw, (max-width: 1024px) 40vw, 30vw"
            loading="lazy"
            decoding="async"
            draggable={false}
        />
    </div>
    <div class={`${titleClassName} flex flex-col gap-2`}>
        {item.name_eng && <p class="text-sm leading-[1.1]">{item.name_eng}</p>}
        {item.name_tc && <p>{item.name_tc}</p>}
    </div>
</li>
